body {
  font-family: "Montserrat";
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
}
.top-box {
  background-color: #97F4FC;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 50px;

}

.mid-box {

}

.bot-box {
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}
h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;

}
h3 {
  font-size: 1.25rem;
  color: #11999E;
  margin: 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 2;
}
a {
  font-size: 1rem;
  color: #11999E;
}



.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 200px;
}
.bot-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}
.Portrait {
  border-radius: 100px;
}
.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50px;
}
.keyboard {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 50px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
